body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    margin-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.title{
    font-size: 1.5em;
}

.app{
    padding: 1em;
    border-radius: 5%;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
}

.color-box{
    border:solid 1px transparent;
    padding: 0.313em;
    border-radius: 0.188em;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
}
